/* grid images
$ButtonBarBackground: 'images/bg.gif'
$ColumnDragLine: 'images/line.gif'
$ColumnHeaderBackground: 'images/fhbg.gif'
$ColumnHeaderSortedBackground: 'images/wbg.gif'
$SortDownButton: 'images/dn.png'
$SortUpButton: 'images/up.png'
$TitleBarBackground: 'images/wbg.gif'
$TitleBarDownButton: 'images/ddn.png'
$TitleBarUpButton: 'images/uup.png'
$SearchBarBackground: 'images/bg.gif'
$PaginationBarBackground: 'images/wbg.gif'
$AdvancedSearchButton: 'images/magnifier.png'
$FirstPageButton: 'images/first.gif'
$PreviousPageButton: 'images/prev.gif'
$NextPageButton: 'images/next.gif'
$LastPageButton: 'images/last.gif'
$ReloadPageButton: 'images/load.png'
$ReloadingButton: 'images/load.gif'
