/* table colors */
/* grid images */
.gridulous ul, .gridulous ol, .gridulous li, .gridulous fieldset, .gridulous legend, .gridulous input, .gridulous textarea, .gridulous select, .gridulous p, .gridulous td {
  margin: 0px;
  padding: 0px; }

.gridulous {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  position: relative;
  border: 0px solid #eeeeee;
  overflow: hidden;
  color: #666699; }

.gridulous select, button, input {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #666699; }

/* Title bar */
.gridulous .title-bar {
  background: url("images/wbg.gif") repeat-x top;
  border: 1px solid #cccccc;
  border-bottom: 0px;
  border-top: 0px;
  height: 30px;
  font-weight: bold;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  position: relative; }

.gridulous .title-span {
  color: #666699;
  padding: 6px;
  white-space: nowrap; }

/* Title bar column configuration button */
.gridulous .title-bar-column-configure {
  position: absolute;
  top: 4px;
  right: 24px;
  padding: 0px;
  height: 16px;
  width: 16px;
  overflow: hidden;
  border: 1px solid #cccccc;
  cursor: pointer; }

.gridulous .title-bar-column-configure:hover {
  background-position: left -2px;
  border-color: #bbbbbb; }

/* Title bar hide/show button */
.gridulous .title-bar-toggle {
  position: absolute;
  top: 4px;
  right: 3px;
  padding: 0px;
  height: 16px;
  width: 16px;
  overflow: hidden;
  border: 1px solid #cccccc;
  cursor: pointer; }

.gridulous .title-bar-toggle:hover {
  background-position: left -2px;
  border-color: #bbbbbb; }

.gridulous .title-bar-toggle span {
  display: block;
  border-left: 1px solid #eeeeee;
  border-top: 1px solid white;
  border-bottom: 1px solid #dddddd;
  width: 14px;
  height: 14px;
  background: url("images/uup.png") no-repeat center; }

.gridulous .title-bar-toggle.vsible span {
  background: url("images/ddn.png") no-repeat center; }

/* button tool bar */
.gridulous .button-bar {
  background: #fafafa url("images/bg.gif") repeat-x top;
  position: relative;
  border: 1px solid #cccccc;
  border-bottom: 0px;
  overflow: hidden; }

.gridulous .button-bar-inner {
  float: left;
  clear: both;
  padding: 1px; }

/* button tool bar button */
.gridulous .button-bar-button {
  float: left;
  display: block;
  cursor: pointer;
  padding: 1px; }

.gridulous .button-bar-button:hover, .button-bar-button.fbOver {
  padding: 0px;
  border: 1px solid #bbbbbb; }

.gridulous .button-bar-button span {
  float: left;
  display: block;
  padding: 3px; }

/* button tool bar separator */
.gridulous .button-separator {
  float: left;
  height: 24px;
  border-left: 1px solid #cccccc;
  border-right: 1px solid white;
  margin: 1px; }

/* column headings */
.gridulous .column-headers {
  background: #fafafa url("images/fhbg.gif") repeat-x bottom;
  position: relative;
  border: 1px solid #cccccc;
  border-bottom: 0px;
  overflow: hidden; }

.gridulous .column-headers table {
  padding: 0px;
  margin: 0px; }

.gridulous .column-headers tr {
  padding: 0px;
  margin: 0px;
  border-spacing: 0px; }

.gridulous .column-headers th {
  padding: 0px;
  margin: 0px;
  border-spacing: 0px; }

.gridulous .column-headers-inner {
  float: left; }

.gridulous .column-headers sorted {
  background: url("images/wbg.gif") repeat-x 0px -1px;
  border-bottom: 0px solid #cccccc; }

.gridulous .column-headers label {
  color: #666699; }

/* sort images */
.gridulous .sort-ascending {
  background: url("images/up.png") no-repeat center top; }

.gridulous .sort-descending {
  background: url("images/dn.png") no-repeat center top; }

/* grid  body */
.gridulous .content-div {
  border: 1px solid #cccccc;
  border-top: 0px;
  background: white;
  overflow: auto;
  position: relative; }

.gridulous .content-div table {
  border-bottom: 1px solid #cccccc; }

.gridulous .content-div tr.even-row td div {
  background: white;
  border-bottom: 1px solid #dddddd;
  overflow: hidden;
  width: inherit; }

.gridulous .content-div tr.odd-row td {
  background: #e7e7e7;
  border-bottom: 1px solid #dddddd; }

.gridulous .content-div tr.odd-row td div {
  background: #e7e7e7;
  border-bottom: 1px solid #dddddd;
  overflow: hidden;
  width: inherit; }

.gridulous .border-test {
  border: 1px solid red; }

/* draggable column separators */
.gridulous .column-drag {
  float: left;
  position: absolute;
  z-index: 2;
  overflow: visible; }

.gridulous .column-drag div {
  float: left;
  background: url("images/line.gif") repeat-y 2px center;
  position: absolute;
  cursor: col-resize;
  border-spacing: 1px; }

.gridulous .column-drag div:hover, .column-drag div.dragging {
  background: url("images/line.gif") repeat-y 2px center; }

/* cell */
.gridulous .cell-container {
  border: solid #cccccc;
  border-top: 0px;
  border-left: 0px;
  border-bottom: 0px; }

/* search bar */
.gridulous .search-div {
  background: #fafafa url("images/bg.gif") repeat-x top;
  position: relative;
  border: 1px solid #cccccc;
  border-top: 0px;
  overflow: hidden; }

.gridulous .search-div-inner {
  float: left;
  clear: both;
  padding: 5px;
  padding-left: 5px;
  width: 1024px; }

/* pagination bar */
.gridulous .pagination-div {
  background: url("images/wbg.gif") repeat-x 0 -1px;
  border: 1px solid #cccccc;
  border-top: 0px;
  overflow: hidden;
  white-space: nowrap;
  position: relative; }

.gridulous .pagination-div-inner {
  margin: 3px;
  margin-left: -2px;
  float: left;
  width: 1024px; }

.gridulous .pagination-group {
  float: left;
  background: none;
  height: 24px;
  margin: 0px 5px;
  padding-top: 1px; }

.gridulous .pagination-image-advanced-search {
  background: url("images/magnifier.png") no-repeat center; }

.gridulous .pagination-image-first {
  background: url("images/first.gif") no-repeat center; }

.gridulous .pagination-image-previous {
  background: url("images/prev.gif") no-repeat center; }

.gridulous .pagination-image-next {
  background: url("images/next.gif") no-repeat center; }

.gridulous .pagination-image-last {
  background: url("images/last.gif") no-repeat center; }

.gridulous .pagination-image-reload {
  background: url("images/load.png") no-repeat center; }

.gridulous .pagination-image-loading {
  background: url(images/load.gif) no-repeat center; }

.gridulous .pagination-button {
  float: left;
  width: 22px;
  height: 22px;
  border: 0px;
  cursor: pointer;
  overflow: hidden; }

.gridulous .pagination-button:hover {
  width: 20px;
  height: 20px;
  border: 1px solid #bbbbbb;
  cursor: pointer; }

.gridulous .pagination-status {
  position: relative;
  overflow: visible; }

.gridulous .pagination-counter {
  position: relative;
  overflow: visible; }

.gridulous .displaying-span {
  padding-top: 3px;
  height: 15px;
  display: block; }

/* utility classes -- use these for classes that we want to toggle */
/* so that we're not forced to play games with editing the style string */
.generic-show {
  display: block; }

.generic-show-inline {
  display: inline; }

.generic-hide {
  display: none; }

.clear-both {
  clear: both; }
