/* table colors */
.header {
  border: #8f98e0 1px solid;
  border-radius: 4px;
  -moz-border-radius: 4px;
  height: 22px;
  background-color: #b2b5d7; }
  .header .left-header {
    font-family: Century Gothic;
    font-weight: bold;
    font-size: 18px;
    padding-left: 4px;
    float: left; }
  .header .right-header {
    font-family: Century Gothic;
    font-weight: normal;
    font-size: 14px;
    padding-right: 4px;
    float: right; }

.footer {
  border: #8f98e0 1px solid;
  border-radius: 4px;
  -moz-border-radius: 4px;
  height: 22px;
  background-color: #b2b5d7; }
  .footer .left-footer {
    font-family: Century Gothic;
    font-weight: normal;
    font-size: 14px;
    padding-left: 4px;
    float: left; }
  .footer .right-footer {
    font-family: Century Gothic;
    font-weight: normal;
    font-size: 14px;
    padding-right: 4px;
    float: right; }

.clear {
  clear: both; }
